/*! CSS Used from: http://localhost:3000/_next/static/css/77c6e20819608e352d23.css */
.miflex {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;
    --bs-gradient: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0.15),
        hsla(0, 0%, 100%, 0)
    );
}
*,
:after,
:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: -moz-calc(0.8em + 0.6vw);
    font-size: calc(0.8em + 0.6vw);
    font-weight: 360;
    line-height: 1.5;
    color: #666;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.active {
    border: 1px solid;
    font-weight: 500;
}
.lead-mio {
    font-size: -moz-calc(0.65rem + 0.7vw);
    font-size: calc(0.65rem + 0.7vw);
    font-weight: 310;
}
@media (min-width: 1200px) {
    body {
        font-size: 1.22em;
    }
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
.h4,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
p,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul {
    padding-left: 2rem;
}
a {
    color: #0d6efd;
    text-decoration: underline;
}
a:hover {
    color: #0a58ca;
}
img {
    vertical-align: middle;
}
button {
    -moz-border-radius: 0;
    border-radius: 0;
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
}
[role='button'] {
    cursor: pointer;
}
[type='button'],
button {
    -webkit-appearance: button;
}
::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
.container-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.row > * {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}
.col-6 {
    width: 50%;
}
.col-6 {
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    flex: 0 0 auto;
}
.col-12 {
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    flex: 0 0 auto;
    width: 100%;
}
@media (min-width: 576px) {
    .col-sm-2 {
        width: 16.6666666667%;
    }
    .col-sm-2 {
        -webkit-flex: 0 0 auto;
        -moz-box-flex: 0;
        flex: 0 0 auto;
    }
    .col-sm-4 {
        width: 33.3333333333%;
    }
    .col-sm-4 {
        -webkit-flex: 0 0 auto;
        -moz-box-flex: 0;
        flex: 0 0 auto;
    }
}
@media (min-width: 768px) {
    .col-md-2 {
        width: 16.6666666667%;
    }
    .col-md-2 {
        -webkit-flex: 0 0 auto;
        -moz-box-flex: 0;
        flex: 0 0 auto;
    }
    .col-md-4 {
        width: 33.3333333333%;
    }
    .col-md-4,
    .col-md-5 {
        -webkit-flex: 0 0 auto;
        -moz-box-flex: 0;
        flex: 0 0 auto;
    }
    .col-md-5 {
        width: 41.6666666667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-6,
    .col-md-7 {
        -webkit-flex: 0 0 auto;
        -moz-box-flex: 0;
        flex: 0 0 auto;
    }
    .col-md-7 {
        width: 58.3333333333%;
    }
    .col-md-8 {
        width: 66.6666666667%;
    }
    .col-md-8 {
        -webkit-flex: 0 0 auto;
        -moz-box-flex: 0;
        flex: 0 0 auto;
    }
}
.collapse:not(.show) {
    display: none;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .nav-link {
        -moz-transition: none;
        transition: none;
    }
}
.navbar {
    position: relative;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.navbar > .container-fluid {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: inherit;
    flex-wrap: inherit;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
}
.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.navbar-nav {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.navbar-collapse {
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    -moz-transition: box-shadow 0.15s ease-in-out,
        -moz-box-shadow 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out, -moz-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .navbar-toggler {
        -moz-transition: none;
        transition: none;
    }
}
.navbar-toggler:hover {
    text-decoration: none;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    -moz-box-shadow: 0 0 0 0.25rem;
    box-shadow: 0 0 0 0.25rem;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-lg .navbar-collapse {
        display: -webkit-flex !important;
        display: -moz-box !important;
        display: flex !important;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}
.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.55);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 0.7);
}
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.card-title {
    margin-bottom: 0.5rem;
}
.m-0 {
    margin: 0 !important;
}
.m-2 {
    margin: 0.5rem !important;
}
.m-5 {
    margin: 3rem !important;
}
.m-auto {
    margin: auto !important;
}
.mt-5 {
    margin-top: 3rem !important;
}
.p-0 {
    padding: 0 !important;
}
.p-3 {
    padding: 1rem !important;
}
.p-5 {
    padding: 3rem !important;
}
.pb-5 {
    padding-bottom: 3rem !important;
}
.text-center {
    text-align: center !important;
}
.bg-light {
    background-color: #f8f9fa !important;
}
@media (min-width: 576px) {
    .p-sm-5 {
        padding: 3rem !important;
    }
}
body,
html {
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
    margin-top: 1em;
}
h3 {
    text-align: left;
}
p {
    line-height: 1.4em;
}
/*! CSS Used from: Embedded */
.navmio.jsx-3129213413 {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
/*! CSS Used from: Embedded */
.mibtn.jsx-2473386404:hover {
    background-color: #070086;
}
.mibtn.jsx-2473386404 {
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #ddd;
    border: solid 1px black;
    border-radius: 100px;
    margin-right: 1em;
    padding: 0.6em;
    background-color: #2703a6;
}
.nopadding.jsx-2473386404 {
    padding: 0 !important;
    margin: 0 !important;
}
.fondo1.jsx-2473386404 {
    background-color: #000000;
}
.fondo2.jsx-2473386404 {
    background-color: #151515;
}
.fondo3.jsx-2473386404 {
    background-color: #080808;
}
.sec2.jsx-2473386404 {
    padding: 1em 1em 4em 1em;
    background-color: #f2b705;
    color: #2a2a2a;
}
.headerimg.jsx-2473386404 {
    padding: 1.2em;
    color: #dddddd;
    background: url(http://localhost:3000/assets/img/headerratongaming.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
@media (max-width: 600px) {
    .headerimg.jsx-2473386404 {
        background: #000;
    }
}
img.jsx-2473386404 {
    width: 100%;
    height: auto;
}
.mitext.jsx-2473386404 > div.jsx-2473386404 {
    min-height: 200px;
    color: #c8c8c8;
}
.mitext.jsx-2473386404 a.jsx-2473386404 {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #b8b8b8;
}
.mitext.jsx-2473386404 a.jsx-2473386404:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #b8b8e8;
}
.mitext.jsx-2473386404 p.jsx-2473386404 {
    color: #989898;
    font-size: 0.9em;
    line-height: 1.3em;
}
.cajatexto.jsx-2473386404 p.jsx-2473386404 {
    text-align: left;
}
/*! CSS Used from: Embedded */
a.jsx-869154122 {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #ccccff;
}
a.jsx-869154122:hover {
    color: #2121cc;
}
footer.jsx-869154122 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #1a1e25;
    color: #868c96;
    height: 100px;
    bottom: 0;
    width: 100%;
}
